<div class="col-md-3">
  <% if property.property_general.present? %>
    <table class="table table-hover table-borderless">
      <tr>
        <td class="fw-semibold" colspan="3"><%= t('property.general_information').upcase %></td>
      </tr>
      <tbody class="border-top border-dark">
        <% if property.property_general.land_size.present? %>
          <tr>
            <td><%= t('property.land_size') %></td>
            <td>:</td>
            <td ><%= property.property_general.land_size_in_meter %></td>
          </tr>
        <% end %>
        <% if property.property_general.building_size.present? %>
          <tr>
            <td><%= t('property.building_size') %></td>
            <td>:</td>
            <td ><%= property.property_general.building_size_in_meter %></td>
          </tr>
        <% end %>
        <% if property.property_general.floor_level.present? %>
          <tr>
            <td><%= t('property.floor_level') %></td>
            <td>:</td>
            <td ><%= property.property_general.floor_level %></td>
          </tr>
        <% end %>
        <% if property.property_general.view.present? %>
          <tr>
            <td><%= t('property.view') %></td>
            <td>:</td>
            <td ><%= property.property_general.view %></td>
          </tr>
        <% end %>
        <% if property.property_general.style_design.present? %>
          <tr>
            <td><%= t('property.style_design') %></td>
            <td>:</td>
            <td ><%= property.property_general.style_design %></td>
          </tr>
        <% end %>
        <% if property.property_general.surrounding.present? %>
          <tr>
            <td><%= t('property.surrounding') %></td>
            <td>:</td>
            <td ><%= property.property_general.surrounding %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
