<% if property.property_rentals.present? %>
  <div class="tab-content">
    <% property.property_rentals.order(:rental_type).each_with_index do |rental, index| %>
      <% if rental.property_rental_costs.present? %>
          <div class="tab-pane fade <%= 'show active' if !@property.property_kinds.present? && index == 0 %> rental-c-<%= rental.id %>">
            <div class="retal_costs px-0">
              <h3 class="ps-0"><%= rental_costs_name(rental.rental_type).upcase %></h3>
              <table class="table table-sm table-hover my-4">
                <% rental.property_rental_costs.each do |rental_cost| %>
                  <tr>
                    <td class="fw-semibold" scope="row" style="width: 40%"><%= rental_cost.name %></td>
                    <td>:</td>
                    <td class="fw-semibold"><%= rental_cost.value %></td>
                  </tr>
                <% end %>
              </table>
            </div>
          </div>
      <% end %>
    <% end %>
  </div>
<% end %>
