<div class="card-body">
 <h2 class=" text-dark fs-5 fs-md-2 mb-4 text-center"><%= t('home.search_heading') %></h2>
  <%= form_with url: properties_search_path, class: 'input-group', method: "get" do |f| %>
    <%= select_tag :property_category, options_for_select(
                  [[t('property.search_category'), ''], [t('footer.real_estate_for_sale'), "1"], [t('footer.long_term_rentals'), '2']]), class: "form-select mb-3 rounded-start-pill" %>
    <%= select_tag :property_type, options_for_select(
                  [[t('property.search_type'), ''], [t('footer.villa'), '1'], [t('footer.land'), '2'], [t('footer.other'), '3']]), class: 'form-select mb-3 rounded-end-pill' %>
    <div class="input-group">
      <%= f.search_field :location, class: 'form-control rounded-start-pill', required: true, placeholder: t('property.search') %>
      <%= button_tag t('property.search'), class: 'btn btn-warning fw-bold rounded-end-pill', name: nil do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
      <% end %>
    </div>
  <% end %>
</div>
