<% if property.property_outdoor.present? %>
  <div class="col-md-3">
    <table class="table table-hover table-borderless">
      <tr>
        <td class="fw-semibold" colspan="3"><%= t('property.outdoor_information').upcase %></td>
      </tr>
      <tbody class="border-top border-dark">
        <% if property.property_outdoor.swimming_pool.present? %>
          <tr>
            <td><%= t('property.swimming_pool') %></td>
            <td>:</td>
            <td><%= property_available(property.property_outdoor.swimming_pool) %></td>
          </tr>
        <% end %>
        <% if property.property_outdoor.garden.present? %>
          <tr>
            <td><%= t('property.garden') %></td>
            <td>:</td>
            <td><%= property_available(property.property_outdoor.garden) %></td>
          </tr>
        <% end %>
        <% if property.property_outdoor.balcony.present? %>
          <tr>
            <td><%= t('property.balcony') %></td>
            <td>:</td>
            <td><%= property_available(property.property_outdoor.balcony) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
