<section style="background-color: #000">
  <div class="card rounded-bottom-0 p-2 p-md-5 border-0" style="border-radius: 80px">
    <div class="card-body">
      <div class="container-fluid">
        <div class="row justify-content-center justify-content-md-between align-items-center">
          <div class="col d-block d-md-none mt-4">
            <h2 class="fw-bold" style="font-size: 30px"><%= t('home.top_property_header') %></h2>
            <p class="fs-5 mt-5 mb-3 mb-md-5"><%= t('home.top_property_description') %></p>
            <%= link_to t('home.top_property_find_property'), properties_path, class: 'btn btn-warning text-dark rounded-5 fw-bold py-2 px-4' %>
          </div>

          <div class="col-md-6 d-none d-md-block">
            <h2 class="fw-bold" style="font-size: 50px"><%= t('home.top_property_header') %></h2>
            <p class="fs-5 mt-5 mb-3 mb-md-5"><%= t('home.top_property_description') %></p>
            <%= link_to t('home.top_property_find_property'), properties_path, class: 'btn btn-warning text-dark rounded-5 fw-bold py-2 px-4' %>
          </div>

          <div class="col-md-6 mx-0 px-0">
            <div id="carousel-top-properties" class="carousel slide mt-2 rounded-5">
              <div class="carousel-inner rounded px-md-10 px-2 py-3">
                <% @top_properties.each_with_index do |property, index| %>
                <div class="carousel-item rounded-3 <%= 'active' if index == 0 %>">
                  <%= render 'property_lists/property_card_large', property: property %>
                </div>
                <% end %>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel-top-properties" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-warning p-4 m-2 rounded-3" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel-top-properties" data-bs-slide="next">
                <span class="carousel-control-next-icon  bg-warning p-4 m-2 rounded-3" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


