<section class="container-fluid position-relative pt-5 vh-80 vh-md-90" style="background-color: #000">
  <%= image_tag 'hero_section.jpg', class: 'position-absolute text-center top-70 start-50 top-md-60 translate-middle img-fluid opacity-50' %>
  <header class="position-absolute text-center top-50 start-50 top-md-50 translate-middle">
    <h4 class="text-white fs-5 fs-md-4"><%= t('home.subheading') %></h4>
    <h1 class="fw-bold text-white fs-2 fs-md-1"><%= t('home.heading') %></h1>
  </header>
  <div class="card position-absolute top-80 top-md-80 rounded-4 vw-90 vw-md-50 start-50 translate-middle border-0 shadow-lg p-3 mb-5 rounded w-auto" >
    <div class="card-body">
      <h2 class=" text-dark fs-3 fs-md-2 mb-4 text-center"><%= t('home.search_heading') %></h2>
      <div class="input-group">
        <select name="" id="" class="form-control rounded-start-pill">
          <option><%= t('property.category') %></option>
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
        </select>
        <select name="" id="" class="form-control">
          <option><%= t('property.kind') %></option>
          <option value="">1</option>
          <option value="">2</option>
          <option value="">3</option>
        </select>
        <input type="search" class="form-control" placeholder="<%= t('property.search') %>">
        <button class="btn btn-warning fw-bold rounded-end-pill" type="button" id="button-addon2">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
