<main>
  <%= render 'layouts/navbar' %>
  <%= render 'hero_section' %>
  <%= render 'carousel_section' %>
  <%= render 'company_value_section' %>
  <%= render 'social_media_section' %>
  <%= render 'newest_property_section', properties: @properties %>
  <%= render 'layouts/footer' %>
</main>
