<footer class="bg-dark">
  <div class="container">
    <div class="row text-white justify-content-between py-4 g-2">
      <div class="col-md-4">
        <div class="d-grid">
          <%= link_to root_path, class: 'fw-bold mb-4 text-decoration-none text-white fs-2' do %>
            Property<span class="text-warning">List</span>
          <% end %>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est a culpa placeat nulla facilis dolor voluptas! Repudiandae quibusdam laudantium voluptatem.</p>
        </div>
      </div>
      <div class="col-md-2 mx-2">
        <div class="d-grid">
          <h4 class="fw-bold"><%= t('footer.property_category') %></h4>
          <%= link_to t('footer.real_estate_for_sale'), properties_search_path(property_category: 1) , class: 'text-decoration-none text-white my-2' %>
          <%= link_to t('footer.long_term_rentals'), properties_search_path(property_category: 2) , class: 'text-decoration-none text-white my-2' %>
        </div>
      </div>
      <div class="col-md-2 mx-2">
        <div class="d-grid">
          <h4 class="fw-bold"><%= t('footer.property_type') %></h4>
          <%= link_to t('footer.villa'), properties_search_path(property_type: 1) , class: 'text-decoration-none text-white my-2' %>
          <%= link_to t('footer.land'), properties_search_path(property_type: 2) , class: 'text-decoration-none text-white my-2' %>
          <%= link_to t('footer.other'), properties_search_path(property_type: 3) , class: 'text-decoration-none text-white my-2' %>
        </div>
      </div>
      <div class="col-md-2 mx-2">
        <div class="d-grid">
          <h4 class="fw-bold"><%= t('footer.company') %></h4>
          <%= link_to t('footer.contact_us'), contact_path, class: 'text-decoration-none text-white my-2' %>
        </div>
      </div>
    </div>
  </div>
</footer>
