<header class="fixed-top">
  <%= render 'layouts/top_bar' %>
  <nav class="navbar navbar-expand-lg bg-warning py-4">
    <div class="container">
      <%= link_to root_path, class: 'navbar-brand fw-semibold' do %>
        Property<span class="text-muted">List</span>
      <% end %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse fw-semibold align-items-center justify-content-around" id="navbarNavDropdown">
        <ul class="navbar-nav py-2 align-items-center text-center fs-5">
          <li class="nav-item">
            <%= link_to t('header.home'), root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item ps-3">
            <%= link_to t('header.properties'), properties_path, class: 'nav-link' %>
          </li>
          <li class="nav-item ps-3">
            <%= link_to t('header.contact_us'), contact_path, class: 'nav-link' %>
          </li>
        </ul>
        <div class="text-center text-md-end">
          <button type="button" data-bs-toggle="modal" data-bs-target="#sellMyProperty" class="btn btn-dark text-warning rounded-5 px-4 py-2 fw-semibold"><%= t('header.sell_property') %></button>
        </div>
      </div>
    </div>
  </nav>
  <% if flash.any? %>
    <% if flash[:error] %>
      <div class="alert alert-danger alert-dismissible fade show" id="alert" role="alert">
        <p class="text-center h5"><%= flash[:error] %></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% elsif flash[:notice] %>
      <div class="alert alert-success alert-dismissible fade show" id="alert" role="alert">
        <p class="text-center h5"><%= flash[:notice] %></p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
     <script>
      setTimeout(function() {
        var alert = document.getElementById('alert');
        if (alert) {
          alert.classList.remove('show');
          alert.classList.add('fade');
          setTimeout(function() {
            alert.remove();
          }, 500);
        }
      }, 5000);
    </script>
  <% end %>
</header>

<div class="modal fade" id="sellMyProperty" tabindex="-1" aria-labelledby="sellMyPropertyLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
    <%= form_for @property_request = PropertyRequest.new, url: property_request_send_request_path do |f|  %>
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="sellMyPropertyLabel"><%= t('header.sell_property') %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <% invalid = @property_request.errors.include?(:first_name) %>
          <%= f.label t('header.first_name'), class: 'form-label' %>
          <%= f.text_field :first_name, class: "form-control #{'is-invalid' if invalid}", required: true %>
          <% if invalid %>
            <div class="invalid-feedback">
              <% @property_request.errors.full_messages_for(:first_name).each do |error| %>
                <%= error %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="mb-3">
          <% invalid = @property_request.errors.include?(:last_name) %>
          <%= f.label t('header.last_name'), class: 'form-label' %>
          <%= f.text_field :last_name, class: "form-control #{'is-invalid' if invalid}", required: true %>
          <% if invalid %>
            <div class="invalid-feedback">
              <% @property_request.errors.full_messages_for(:last_name).each do |error| %>
                <%= error %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="mb-3">
          <% invalid = @property_request.errors.include?(:email) %>
          <%= f.label t('header.email'), class: 'form-label' %>
          <%= f.email_field :email, class: "form-control #{'is-invalid' if invalid}", required: true %>
          <% if invalid %>
            <div class="invalid-feedback">
              <% @property_request.errors.full_messages_for(:email).each do |error| %>
                <%= error %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="mb-3">
          <% invalid = @property_request.errors.include?(:phone) %>
          <%= f.label t('header.phone'), class: 'form-label' %>
          <%= f.telephone_field :phone, class: "form-control #{'is-invalid' if invalid}", required: true %>
          <% if invalid %>
            <div class="invalid-feedback">
              <% @property_request.errors.full_messages_for(:phone).each do |error| %>
                <%= error %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="mb-3">
          <% invalid = @property_request.errors.include?(:property_category) %>
          <%= f.label t('footer.property_category'), class: 'form-label d-grid' %>
          <% PropertyCategory.all.each do |category| %>
            <div class="form-check form-check-inline">
              <%= f.label :property_category, category.name, class: "form-check-label" %>
              <%= f.check_box :property_category, { multiple: true, class: "form-check-input #{'is-invalid' if invalid}" }, category.name, nil  %>
            </div>
          <% end %>
          <% if invalid %>
            <div class="invalid-feedback">
              <% @property_request.errors.full_messages_for(:property_category).each do |error| %>
                <%= error %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="mb-3">
          <% invalid = @property_request.errors.include?(:property_type) %>
          <%= f.label t('footer.property_type'), class: 'form-label d-grid' %>
          <% ['villa', 'land', 'other'].each do |type| %>
            <div class="form-check form-check-inline">
              <%= f.label :property_type, type, class: "form-check-label" %>
              <%= f.check_box :property_type, { multiple: true, class: "form-check-input #{'is-invalid' if invalid}" }, type, nil %>
            </div>
          <% end %>
          <% if invalid %>
            <div class="invalid-feedback">
              <% @property_request.errors.full_messages_for(:property_type).each do |error| %>
                <%= error %>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="mb-3">
          <%= f.label t('header.description'), class: 'form-label' %>
          <%= f.text_area :description, size: "70x5", class: 'form-control', required: true %>
        </div>

        <div class="mb-3">
          <%= recaptcha_tags %>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-dark text-warning" data-bs-dismiss="modal">Close</button>
        <%= f.submit t('header.send'), class: 'btn btn-warning text-dark' %>
      </div>
    <% end %>
    </div>
  </div>
</div>

